body {
  margin: 0 !important;
  padding: 0 !important;
  background: url(loginpageBg.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  font-family: sans-serif !important;
}

.forgot-password-link {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: end;
  text-decoration: none;
  color: #ff3f3f;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  border-radius: 9px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto 50px;
}

input:not(.search-box, .checkbox, .s-checkbox, input[type="file"]),
textarea {
  display: block;
  width: 300px;
  height: 40px;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  margin: 20px 0;
  text-transform: capitalize;
  color: #383838;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
  font-family: "roboto", sans-serif;
  background-color: #f5f5f5;
}

.signup-link {
  color: #ff3f3f;
  text-decoration: underline;
}

::placeholder {
  color: #383838;
}

.rights {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #374151;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #000 !important;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
/* find an Avatar and change this*/

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #ff0000;
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ff0000;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.loginbox a:hover {
  color: #ffc107;
}

/* header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 80px;
  /* change color later*/
  background: #000000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header .logo {
  width: 100%;
  height: 70px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  /* change color later */
  color: #fff;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  /* change color later */
  color: #f30c1e;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #f30c1e;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* here display the sidebar */
#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}
