.btn {
    padding: 12px 24px !important;
    border-radius: 8px !important;
    border: none !important;
    text-decoration: none !important;
    font-family: var(--ui-font) !important;
    /* width: 100%; */
    font-size: var(--font-size-base) !important;
    cursor: pointer !important;
}

.btn-primary {
    background-color: #f30c1e !important;
    color: white !important;
    transition: transform 0.2s ease-in !important;
    
}

.btn-primary:hover {
    background-color:var(--color-button-primary) !important;
    transform: translateY(-1px) !important;
}

.btn-secondary {
  color: var(--color-text-primary) !important;
  background-color: transparent !important;
  border: 1px solid  var(--color-border-primary) !important;
  transition: transform 0.2s ease-in !important;
}

.btn-secondary:hover {
    background-color: var(--color-border-primary) !important;
}

.btn-width-200 {
    max-width: 200px;
}

.btn-width-full {
    width: 100%;
}