.btn {
    border-radius: 8px;
    padding: 0.5rem;
}

.btn-primary {
    background-color: #f30c1e;
    color: white;
}
.btn-primary:hover {
   -color: #d40a1e;
}   

.btn-secondary {
    background: white;
    border: 2px solid #E6E7EB;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}
.btn-secondary:hover {
   -color: #5a6268;
}