* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.email-sent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.email-sent-logo i {
    font-size: 80px;
    color: #4BB543; /* Green color for success */
    margin-bottom: 20px;
}

.email-sent-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.email-sent-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 15px;
}
.email-sent-content #email {
    font-weight: bold;
    color: #000;
}

.back-to-login-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    color: #ff0800;
    font-weight: bold;
    margin-bottom: 10px;
}

.email-resend-container {
    margin-top: 20px;
}

.email-resend-container p {
    margin-bottom: 10px;
    color: #666;
}

.resend-btn {
    background-color: #f50606;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 45px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.disabled-btn {
    background-color: #ccc;
    cursor: not-allowed;
}

.resend-btn i {
    font-size: 1rem;
    animation:  2s linear infinite;
}

/* .resend-btn:hover {
    background-color: #cc0000;
    transition: all 0.3s ease;
} */

/* icon animation */
@keyframes infinite-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader-container {
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-container p {
    margin-top: 10px;
    color: #666;
}


/* Spinner Animation */

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f50606;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 4px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 600px) {
    .email-sent-content h1 {
        font-size: 2em;
    }   

    .email-sent-content p {
        font-size: 1rem;
    }
    .resend-btn {
        padding: 15px 20px;
        font-size: 0.9rem;
    }


}  

/* Icon Rotation Animation */
