/* Newsletter Component */

#newsletter {
  min-height: 100px;
  display: flex;
  /* padding: 2rem 0; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  background-image: url(/images/nsl.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-white);
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  margin: 0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
  min-width: 300px;
  max-width: 500px;
}

#newsletter .form.hidden {
    display: none;
}

#newsletter input {
  height: 3.125rem;
  padding: 0.8rem;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 24px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-color 0.3s ease;
}

#newsletter input:focus {
    border-color: var(--color-red);
}

.form input[type="text"] {
  padding-left: 10px;
}

#newsletter button {
  /* change color */
  background-color: var(--color-red);
  color: var(--color-white);
  white-space: nowrap;
  padding: 0 1.5rem;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.5s;
}

#newsletter button:hover {
  background-color: rgb(255, 136, 136);
}


/* Signup Success */

.signup-text {
    margin: 0;

}

@media (max-width: 762px) {
     /* Newsletter */

  #newsletter {
    margin-bottom: 1rem;
    height: auto;
  }

  #newsletter .form {
    width: 100%;
  }

  #newsletter input {
    padding: 0.6rem;
  }
}