/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}

.cancel {
  background-color: #e51a3c;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.wrapper-row {
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  border: transparent;
  background-color: #efefef;
}

button {
  border-radius: 8px !important;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 25px;
}

#bio-section .btn-wrapper button {
  border-radius: 8px !important;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 25px;
}

#name {
  font-size: 1.1rem;
  font-weight: 500;
}
#username {
  font-size: 1.5rem;
  /* opacity: 0.5; */
  font-weight: 500;
  text-align: center;
}

#bio {
  display: flex;
  justify-content: center;
}

#upload-btn {
  border: 1px solid #1a5eeb;
  color: #1a5eeb;
}
.btn-wrapper {
  gap: 12px;
  display: flex;
  justify-content: center;
}

#bio-section .btn-wrapper #remove-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 4px 0px;
  background-color: #202124;
  color: #fff;
  transition: 0.2s ease-in-out;
  border: transparent;
}

#remove-btn {
  border: 2px solid #d7d7d7;
  color: #707070;
}

.center-text {
  text-align: center;
}

#bio-section textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  height: 105px;
  max-width: 100%;
  border-radius: 8px;
  width: 50%;
}

#bio-section textarea:focus {
  border: 2px solid grey;
  outline: transparent;
}

.spacing {
  padding: 10px 0px;
}

.spacing-1 {
  padding: 0px 10px;
}

.timestamp {
  font-size: 1rem;
}

/* input {
  width: 100% !important;
} */
.lf-wrapper li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.lf-wrapper li:hover {
  transform: scale(1.1);
  background-color: #d5d5d5;
}

#left-nav-wrapper i {
  color: black;
}

#left-nav-wrapper {
  /* border: 2px solid red; */
  height: 100%;
  padding: 1rem;
  background-color: #f8f7f7;
}
.lf-wrapper li a {
  padding: 10px 20px;
}

#profile-section {
  gap: 5rem;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
}
#user-stats {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  text-transform: capitalize;
}

#profile-section label {
  font-weight: 700;
  font-size: 24px;
}

#user-stats > div {
  font-size: 1rem;
}

#user-stats #stats-counter {
  opacity: 0.7;
}

#user-stats h5 {
  font-size: 1.5rem;
}

#timestamp-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#follower {
  display: flex;
  flex-direction: column;
}

#timestamp-container i {
  padding: 0px 6px;
}

.section-p1 {
  padding: 0px 0px !important;
}
.lf-wrapper li {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
  font-size: 14px;
  color: #606060;
  border-radius: 12px;
}

#right-navigation {
  gap: 10px;
  width: 50%;
  height: 100%;
  flex-direction: column;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav-wrapper {
  display: flex;
  gap: 24px;
}

.pfp {
  display: block;
}

#pfp-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pfp-section img {
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#bio-section {
  display: flex;
  flex-direction: column;
}

.pfp-1 form {
  background-color: transparent;
  width: 100%;
  display: block;
}

.pfp-1 input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  box-sizing: border-box;
}

/* Extra small devices (phones, <576px) */
@media (max-width: 575.98px) {
  #left-navigation {
    display: none;
  }

  #profile-section {
    flex-direction: column;
  }

  #right-navigation {
    width: 500px;
  }

  #timestamp-container {
    justify-content: center;
    padding: 10px 0px;
  }
  textarea {
    width: 100%;
  }

  .section-p1 {
    padding: 30px 45px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #left-navigation {
    display: none;
  }

  #profile-section {
    flex-direction: column;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #profile-section {
    flex-direction: column;
    gap: 10px;
  }

  #user-stats {
    padding: 16px 10px;
    justify-content: center;
  }

  .lf-wrapper li {
    font-size: 1rem;
  }

  .lf-wrapper li a {
    font-size: 24px;
  }

  #left-nav-wrapper {
    min-width: 300px;
    background-color: #f8f7f7;
  }

  #right-navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #pfp-section {
    flex-direction: column;
  }

  .section-p1 {
    padding: 0px 0px !important;
  }

  ul {
    padding: 0 !important;
  }

  .btn-wrapper {
    gap: 12px;
    display: flex;
    justify-content: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
