button {
  border: 1px solid #1a5eeb;
  border-radius: 8px !important;
  font-weight: 500;
  color: #1a5eeb;
  background-color: transparent;
  padding: 10px;
}

textarea {
  border-radius: 8px;
}

.spacing {
  padding: 10px 0px;
}

.timestamp {
  font-size: 1rem;
}

form {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
}

input {
  width: 100% !important;
}
.lf-wrapper li {
  text-decoration: none;
  list-style: none;
}

i {
  color: black;
}

#left-nav-wrapper {
  border: 2px solid red;
  height: 100%;
  padding: 1rem;
}
.lf-wrapper li a {
  padding: 10px 20px;
}

#profile-section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  display: flex;
}

.lf-wrapper li {
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
  font-size: 1.5rem;
  color: #606060;
}

#right-navigation {
  width: 50%;
  height: 500px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nav-wrapper {
  display: flex;
}

#pfp-section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pfp-section img {
  height: 30%;
}

#bio-section {
  display: flex;
  flex-direction: column;
}
