:root {
  --color-999: #222;
  --color-red: #f30c1e;
  --color-white: #ffffff;
  --color-black: #070707;
  --mar-1: 1.06rem;
  --mar-2: auto 1rem;
  --bRadius-1: 0.75rem;
  --btnHover: rgba(255, 0, 0, 0.7);
  --btnPadding: 5px 5px;
  --textUpperCase: uppercase;
  --smallScreenFontSz: 0.98rem;
  --fontSize-1: 1rem;
  --rightTextAlign: left;
  --paraFontSize: 1rem;
  --paraFontSize-1: 0.125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* change the font-family later (find new font online)*/
}

body {
  width: 100%;
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Utility Classes */
.uppercase {
  text-transform: var(--textUpperCase);
}

::-webkit-scrollbar {
  height: 8px;
  background: #eceff1;
}

::-webkit-scrollbar:hover {
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-999);
  /* border-radius: 8px; */
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-red);
  cursor: pointer;
}

/* Ulities */
.center-text {
  text-align: center;
}

/* End of Ulities */

h1 {
  font-size: 50px;
  line-height: 64px;
  /* change color later*/
  color: var(--color-999);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  /* change color later*/
  color: var(--color-999);
}

h4 {
  font-size: 20px;
  /* change color later*/
  color: var(--color-999);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: var(--paraFontSize);
  /* change color later*/
  color: var(--color-999);
  /* margin: 15px 0 20px 0; */
}

.section-p1 {
  padding: 0px 80px;
}

.section-m1 {
  margin: 40px 0;
}

/* Reviews */
.sm-reviews-section {
  padding: 0px 80px;
}

.sm-pagination-reviews {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  justify-content: center;
}



button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* header start */
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

#header nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: var(--color-black);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  text-align: center;
}

button.nav-btn-dd {
  border: none;
  display: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 10rem;
}

.login-btn {
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px rgb(80, 80, 80);
  border-radius: 8px;
  padding: var(--btnPadding);
  font-weight: 600;
  font-size: 16px;
  text-transform: var(--textUpperCase);
  background-color: var(--color-red);
  transition: 0.6s ease-in-out;
}

.login-btn:hover {
  background-color: var(--btnHover);
}

.signup-btn {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 8px;
  font-size: 16px;
  padding: var(--btnPadding);
  text-transform: var(--textUpperCase);
  background-color: transparent;
  font-weight: 600;
  margin-left: 1rem;
  transition: 0.6s ease-in-out;
}

.signup-btn:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.btn-1 {
  font-size: 18px;
  padding: 6px;
  margin: 0 5px;
  display: inline-block;
  font-weight: 600;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: var(--color-white);
  display: block;
  line-height: 2em;
  font-size: 14px;
  padding: 0.5em 0.62rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  /* border: 1px solid red; */
}

nav ul li a:hover {
  color: var(--color-white) !important;
  /* border: 1px solid red; */
  transform: scale(1.2);
}

.user_profile i {
  color: #fff;
  margin: 0 8px;
  font-size: 1rem;
}

.second_menu {
  display: flex;
}

/* #user_profile {
  display: flex;
} */

.dropdown_menu {
  width: 100px;
  height: 100px;
  background-color: #000;
}

.hide {
  display: none;
}

.logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.bg-div {
  background: #333;
  overflow: hidden;
}

.sub-header:hover a i {
  transform: rotate(-180deg);
  transition: 0.8s;
}

.sh:hover {
  background-color: var(--color-black);
  color: var(--color-red);
  transition: 0.5s ease-in-out;
}

/* end of header */

/* search bar */

form {
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  width: 70%;
  /* max-width: 700px; */
  background: #212529;
  align-items: center;
  padding: 10px 10px;
}

nav .search_box {
  display: flex;
  margin: auto 9rem;

  /* height: 35px; */
  width: 100%;
  line-height: 35px;
  border-radius: 12px;
}

.search-bar input {
  flex: 1;
  background: none;
  outline: 0;
}

.triggerSearch {
  font-size: 22px;
  color: var(--color-red);
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.input_box {
  border: none;
  outline: none;
  background: #212529;
  height: 100%;
  padding: 0 10px;
  font-size: var(--fontSize-1);
  /* width: 350px; */
  color: var(--color-white);
}

nav .search_box span {
  color: var(--color-red);
  font-size: var(--fontSize-1);
  background: #212529;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search_box span:hover {
  color: var(--color-white);
}

nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  /* change color later */
  background: var(--color-red);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

nav .search_box span:hover::after {
  width: 100%;
}

.nav-items {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

/* end of search bar *

/* here display the sidebar */
#mobile {
  display: none;
  align-items: center;
}

.close-btn {
  display: none;
}

#close {
  display: none;
}

.cartAmount {
  font-size: 16px;
  background-color: red;
  color: white;
  position: absolute;
  top: -12px;
  right: 25%;
  border-radius: 4px;
  padding: 1.1px;
}

/* buttons details */

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}

/* discount */
.discount p {
  font-size: 14px;
  color: #4e4e4e;
  font-weight: 600;
  margin: auto;
}
.liked {
  /* background-color: #EFA9A9;
  color: #DC2A2A; */
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 10px;
  border-radius: 0.25rem;
  position: relative;
  border-radius: 17px;
  top: 10px;
  left: 16rem;
  z-index: 3;
  width: 50px;
  transition: 0.5s ease-in-out;
}

.liked i {
  font-size: 1.5rem;
  color: black;
}

.liked:hover {
  transform: scale(1.2);
}

.fa-eye {
  margin: 4px;
}

.card-btn:hover {
  background: var(--color-red);
}

/* home page */
#hero .hero-text {
  background-image: url(/images/shirt-bg.jpg);
  height: 100vh;
  width: 100%;
  opacity: 0.85;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 6rem;
}

#banner button {
  
    border-radius: 2px;
    text-transform: uppercase;
    padding: 16px 32px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: #f30c1e;
    font-size: 12px;
    border: transparent;
    transition: 0.2s ease-in-out;

}

/* hero section */

.hero-text-container .main-headline h1 {
  width: 55%;
  min-width: 400px;
}
.sub-headline {
  flex-shrink: 2;
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-width: 200px;
  text-align: left;
}

.sub-headline .sub-h h3 {
  color: white;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.m-hL {
  text-align: var(--rightTextAlign);
}

.m-hL a {
  border-radius: 2px;
  text-transform: uppercase;
  padding: 16px 32px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  transition: 0.2s ease-in-out;
}

.m-hL a:hover {
  background-color: var(--color-red);
  border: none;
}

.hero-text-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

#hero h4 {
  padding-bottom: 16px;
  color: var(--color-white);
  font-size: 1.56rem;
}

#hero h1 {
  /* change color later */
  color: var(--color-red);
  font-size: 5rem;
  margin-bottom: var(--mar-1);
}

#hero h2 {
  color: var(--color-red);
  font-size: 30;
  margin-bottom: var(--mar-1);
}

#hero p {
  font-size: var(--paraFontSize-1);
  color: var(--color-white);
  margin-bottom: var(--mar-1);
}

#hero button {
  /* find and add button image below */
  /* background-image: url(/public/images/Jordan\ brand.png); */
  /* background-color: var(--color-red);
  color: var(--color-white);
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: cover;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  transition: 0.5s; */
}

#hero button:hover {
  background-color: var(--color-red);
  /* border-radius: 12px; */
  color: var(--color-white);
  letter-spacing: 1px;
  border: none;
  transform: scale(1.5);
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 250px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.5s;
}

#feature .fe-box:hover {
  /* box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); */
  transform: scale(1.1);
}

#feature .fe-box i {
  font-size: 8rem;
  padding: 1rem;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--color-red);
  background-color: #fddde4;
}

#feature .fe-box h6:nth-child(2) h6 {
  /* change color later*/
  background-color: #;
}

#feature .fe-box h6:nth-child(3) h6 {
  /* change color later*/
  background-color: #;
}

#feature .fe-box h6:nth-child(4) h6 {
  /* change color later*/
  background-color: #;
}

#feature .fe-box h6:nth-child(5) h6 {
  /* change color later*/
  background-color: #;
}

#feature .fe-box h6:nth-child(6) h6 {
  /* change color later*/
  background-color: #;
}

/* Product Card */

.btn-hover:hover {
  opacity: 1;
  background-color: var(--color-red);
  color: white;
}

.pro-brand {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* text-align: left; */
  /* border: 2px solid red; */
}

.short-desc {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  border: 2px solid red;
  text-transform: capitalize;
  margin: 5px 0;
}

#product1 {
  text-align: center;
  /* position: relative; */
  overflow: hidden;
  padding: 20px 0;
}

.pro-container .pro {
  border: 2px solid red;
}

.pro-container {
  display: flex;
  /* padding-top: 20px; */
  flex-basis: 100%;
  /* padding: 0 10vw; */
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 1rem;

  /* overflow-y: hidden; */
  overflow-x: auto;
  /* white-space: nowrap;
  scroll-behavior: smooth; */
}

.product-image {
  width: 100%;
  z-index: 1;
  /* height: 60%; */
  overflow: hidden;
  /* border: 2px solid black; */
  border-radius: 1rem;
  position: relative;
  /* display: flex; */
}

.pro {
  /* border: 2px solid red; */
  flex: 0 0 auto;
  width: 250px;
  display: inline-block;
  height: 450px;
  margin-right: 40px;
  border: 2px solid green;
}

/* .pro-container::-webkit-scrollbar {
  display: none !important;
} */

.image-custom {
  width: 100%;
  height: 287px;
  object-fit: contain;
}

.des .pro-brand .pro-brand-txt {
  max-width: 100%;
  font-weight: 700;
  word-wrap: break-word;
  letter-spacing: 0.004rem;
  display: inline;
  font-size: 1rem;
  overflow-wrap: break-word;
}

#product1 .pro img {
  border-radius: 20px;
}

#product1 .pro .des {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  position: relative;
  /* height: 100%; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* padding-top: 10px; */
  /* border: 2px solid red; */
}

#product1 .pro {
  color: #000;
  text-align: left;
  justify-content: center;
  font-weight: 700;
  width: 320px;
  /* min-width: 200px; */
  padding: 10px 12px;
  border: 3px solid transparent;
  border-radius: 9px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.5s;
  position: relative;
  margin-right: 1rem;
  flex: 0 0 auto;
  height: 450px;
  margin-right: 40px;
  transition: 0.5s ease-in-out;
}

#product1 .pro:hover {
  transform: scale(1.05);
}

#product1 .pro h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.fav-btn {
  background-color: transparent;
  border: none;
  outline: transparent solid 2px;
  white-space: nowrap;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 900;
  line-height: 1;
  font-size: 1.25rem;
  max-width: 2.5rem;
}

#product1 .pro h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-red);
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  /* change color later */
  background-color: var(--color-white);
  font-weight: 500;
  /* change color later */
  color: var(--color-black);
  border-radius: 50px;
  border: 1px solid #070707;
  position: relative;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-image: url(/images/nsl.png);
  width: 92%;
  height: 50vh;
  margin: 0px 75px;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  border-radius: 4px;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  /* change the color later */
  color: #fff;
}

#banner button:hover {
  background: transparent;
  /* change color later */
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/jb-1.png);
  min-width: 103%;
  height: 50vh;
  margin-top: 3rem;
  background-size: cover;
  background-position: center;
  padding: 47px;
  border-radius: 4px;
  /* filter: blur(1px); */
  /* z-index: 1; */
  /* backdrop-filter: blur(1px); */
}

#sm-banner .banner-box2 {
  background-image: url(/images/bg-1.png);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  /* filter: blur(1px); */
}

#sm-banner h4 {
  /* change color if needed */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  /* backdrop-filter: blur(8px); */
}

#sm-banner h2 {
  /* change color if needed */
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  /* backdrop-filter: blur(8px); */
}

#sm-banner span {
  /* change color if needed */
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  /* change color if needed */
  background: #eb0909;
  border: 1px solid red;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 57px 0 78px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/images/bg-4.png);
  min-width: 48%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#banner3 .banner-box2 {
  background-image: url(/images/bg-3.png);
}

#banner3 .banner-box3 {
  background-image: url(/images/bg-2.png);
}

#sm-banner .banner-box2:hover button {
  /* change color if needed */
  background: var(--color-red);
  border: 1px solid var(--color-red);
}

#banner3 h2 {
  color: var(--color-red);
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #fff;
  font-weight: 800;
  font-size: 22px;
}

#newsletter {
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/images/nsl.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-white);
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0.1.25em;
  font-size: 16px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 24px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form input[type="text"] {
  padding-left: 10px;
}

#newsletter button {
  /* change color */
  background-color: var(--color-red);
  color: var(--color-white);
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.5s;
}

#newsletter button:hover {
  background-color: rgb(255, 136, 136);
}

.index,
.row img {
  width: 20%;
  height: -20px;
}

footer {
  padding: 0px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .lgo {
  margin-bottom: 30px;
  margin-top: 0px;
  width: 5%;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 700;
  /* padding-bottom: 20px; */
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 12px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid var(--color-red);
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
  width: 49%;
}

footer .follow i:hover,
footer a:hover {
  /* change color to red  */
  color: var(--color-red);
}

footer .rights {
  width: 100%;
  text-align: center;
}

#product1 .des .pro-price .p_rice {
  font-weight: 700;
  font-size: 20px;
}

.ap_price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

/* Contact Page */

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  align-items: center;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
}

#form-details form button {
  background-color: #f30c1e;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-stat;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

#form-details {
  padding: 40px;
}

#form-details form {
  width: 50%;
}

/* Blog Page */

#page-header.blog-header {
  /*  Find and change header later */
  background-image: url("/images/pexelsvaleriiamiller.jpg");
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #f30c1e;
}

#blog .blog-details a:hover::after {
  background-color: #f30c1e;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/* Cart Page */

/** ! style rules for label and some buttons
      **/

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
}

/* style for shopping carts */

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

/* style for cart items */

.cart-item {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
}

.title-price-x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}

#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
  background-color: #f30c1e;
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* Single Product */

#prodetails {
  display: flex;
  /* margin-top: 20px; */
  /* border: 2px solid red; */
}

#prodetails .single-pro-image {
  flex: 0 0 60%;
  width: 45%;
  margin-right: 50px;
  /* border: 2px solid red; */
  /* border-radius: 12px; */
}

/* .detail-text {
  display: none;
} */

.detail-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.detail-text.expanded {
  max-height: 1000px;
}

#prodetails .single-pro-image img {
  border-radius: 12px;
}

#prodetails .s_prod_details {
  width: 45%;
  /* border: 2px solid red; */
}

.s-img-group {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.s-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* #prodetails .s_prod_details {
  width: 90%;
  padding-top: 30px;
} */

#prodetails .s_prod_details h4 {
  /* padding: 40px 0 20px 0; */
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#prodetails .s_prod_details h1 {
  font-size: 12px;
}

#prodetails .s_prod_details h2 {
  font-size: 26px;
}

#prodetails .s_prod_details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .s_prod_details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .s_prod_details input:focus {
  outline: none;
}

#prodetails .s_prod_details button {
  background: #f30c1e;
  color: #fff;
}

#prodetails .s_prod_details span {
  line-height: 25px;
}

/* About page */
#page-header.about-header {
  background-image: url(/public/images/bg-2.png);
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding-left: 40px;
}

#about-app {
  text-align: center;
}

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 1658px) {
  form {
    width: 50%;
  }

  .section-p1 {
    padding: 0px 20px;
  }
}

@media (max-width: 1537px) {
  .input_box {
    width: 200px;
  }

  #feature .fe-box {
    width: 30%;
    padding: 20px 20px;
  }

  #feature .fe-box h6 {
    margin: 11px 30px;
    padding: 20px;
  }

  #menu ul {
    font-size: 0.8rem;
  }
}

@media (max-width: 1040px) {
  nav .search_box {
    /* margin: auto 7rem; */
    width: 50%;
  }
  .input_box {
    font-size: var(--smallScreenfontSz);
  }

  #hero h1 {
    font-size: 2.5rem;
  }
  .section-p1 {
    padding: 0px 55px;
  }
}

/*  Applies styles to screens < 767px */
@media (max-width: 920px) {
  #banner {
    margin: 0px auto;
    width: 100%;
  }

  #hero h1 {
    font-size: 2.5rem;
  }

  #feature .fe-box {
    width: 45%;
  }

  #menu ul {
    font-size: 0.8rem;
  }

  #menu ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 2em;
  }

  nav .search_box {
    display: flex;
    margin: auto 7rem;
  }

  .list {
    display: flex;
  }

  .input_box {
    width: 100%;
  }

  .triggerSearch {
    right: 3rem;
    border: 0;
    background: transparent;
    font-size: 1rem;
    width: 40px;
    color: var(--color-red);
    outline: 0;
    cursor: pointer;
  }

  #header nav {
    padding: 0 1.2rem;
  }

  #banner {
    width: 98%;
  }

  #banner3 {
    flex-direction: column;
    width: 100%;
    padding: 17px;
  }

  #sm-banner .banner-box {
    min-width: 100%;
  }

  #hero .hero-text {
    text-align: center;
  }

  .section-m1 {
    margin: 0;
  }

  .section-p1 {
    padding: 10px;
  }

  .chart {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    left: 9rem;
    right: 0;
  }

  nav button.check-c {
    display: block;
    color: var(--color-white);
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
  }

  #menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
  }

  #feature {
    width: 100%;
  }

  .lg-btn,
  .signUp-btn {
    margin: 20px;
  }

  .btn-1 {
    font-size: 16px;
    border: none;
    border-radius: 15px;
  }

  /* Newsletter */

  #newsletter {
    margin-bottom: 1rem;
    height: auto;
  }

  #newsletter .form {
    width: 100%;
  }

  #newsletter input {
    padding: 0.6rem;
  }

  /* Footer */

  footer {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 25px;
    margin: 0;
    height: 90%;
  }

  footer .col {
    max-width: 160px;
    flex-basis: 170px;

  }

  footer .install img {
    margin: 1px 0 15px 0;
    width: 48%;
  }

  footer .col .logo {
  }

  footer h4 {
    font-size: 14px;
    position: relative;
    padding: 0;
  }

  footer h4::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: var(--color-red);
    transition: width 0.5s ease-in-out;
    visibility: hidden;
  }

  footer h4:hover::before {
    width: 100%;
    visibility: visible;
  }
}

@media (max-width: 799px) {
  
  #hero .hero-text-container {
    flex-direction: column;
  }

  #product1 .pro-container {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    margin-left: 2rem;
  }

  #hero .hero-text {
    padding: 9rem 19px;
  }

  #hero h1 {
    font-size: 4rem;
  }

  .hero-text-container .main-headline h1 {
    font-size: 5rem;
  }

  .icon-container {
    display: none;
    align-items: center;
  }

  .close-btn {
    display: block;
  }

  nav button.nav-btn-dd {
    display: flex;
    padding: auto 16px;
    font-size: 1.67rem;
    background: none;
    cursor: pointer;
  }

  button.close-btn {
    font-size: 24px;
    color: white;
    border: none;
    background: none;
    position: absolute;
    top: 1rem;
    /* left: -10rem; */
    /* right: 12rem; */
    margin-right: 10px;
    cursor: pointer;
    transition: 0.8s;
    display: flex;
  }

  #menu.active {
    right: 0;
    transition: 0.5s;
  }

  #menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 40px;
    overflow-y: auto;
    transition: 0.8s ease-in-out;
    z-index: 1;
  }

  #ss-icon i {
    color: var(--color-white);
    font-size: 24px;
    display: flex;
  }

  #ss-icon {
    /* display: flex;
    align-items: center;
    background-color: transparent; */
    margin: auto 1.7rem;
  }

  form {
    width: 100%;
  }

  #menu ul {
    list-style: none;
    text-align: center;
    margin: 70px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
  .section-p1 {
    padding: 40px 40px;
  }

  #menu li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  nav button.nav-btn-dd {
    display: flex;
    margin-left: 76px;
    margin: 0.5rem;
    padding: auto 16px;
    font-size: 1.67rem;
    background: none;
    cursor: pointer;
  }

  .list {
    display: flex;
  }

  .icon-container {
    display: flex;
    align-items: center;
  }

  .login-btn {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 21px 0px;
    background-color: var(--color-red);
    transition: 0.5s ease-in-out;
  }

  .signup-btn {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 2px;
    background-color: transparent;
    margin-left: 0px;
    font-size: 16px;
    transition: 0.5s ease-in-out;
  }

  #menu ul li a {
    margin-left: 0px;
  }

  /* #product1 .pro-container {
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  } */

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }
}

@media (max-width: 477px) {
  #menu {
    width: 100%;
    height: 100%;
  }

  button.close-btn {
    right: 23rem;
  }

  #product1 .pro-container {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    margin-left: 2rem;
  }

  #hero .m-hL h1 {
    font-size: 2.6rem;
  }

  #hero .hero-text-container {
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
  }

  #hero .hero-text {
    padding: 4rem 1px;
  }
  footer .install img {
    margin: 0px 0 15px 0;
    width: 100%;
  }

  .section-p1 {
    padding: 17px;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    width: 95%;
    margin: 0 0 0.93rem 0;
  }

  #feature .fe-box:hover {
    transform: scale(1);
  }

  #product1 .pro {
    width: 100%;
  }
}

/* Screen for smartphones */
@media (max-width: 430px) {
  nav .search_box {
    display: flex;
    margin: auto 1px;
    margin-left: 98px;
  }

  .sub-headline {
    width: 80%;
  }

  nav button.nav-btn-dd {
    display: flex;
    margin: 5px;
    padding-right: 10px;
  }

  form {
    width: 22vh;
  }

  .triggerSearch {
    font-size: 16px;
    width: 36px;
  }

  .search-bar input {
    padding: 6px;
    font-size: 15px;
  }

  #ss-icon {
    justify-content: space-around;
    margin-left: 1rem;
  }

  #ss-icon i {
    color: var(--color-white);
    font-size: 1.2rem;
  }

  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 50px;
  }

  #prodetails .s_prod_details {
    width: 100%;
  }

  /* About page */

  #about-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-head {
    padding-left: 0px;
  }

  #about-app .video {
    width: 100%;
  }

  #about-head img {
    width: 100%;
    height: auto;
  }

  /* Contact Page */
  #contact-details {
    display: flex;
    flex-direction: column;
  }

  #contact-details .details {
    width: 100%;
    margin-bottom: 40px;
  }

  #contact-details .map {
    width: 100%;
  }

  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
}
